# Social Media Disaster Alert System

## Final Data Gathering - Twitter API

After receiving the confirmation of a developer account we used the Twitter API to pull tweets with emergency terms through our authorization keys and tokens. This data was pulled into a CSV and reviewed for readability. 

According to the review we revise the dataframe as needed and save it as a CSV file for final analysis and for the map alert system.

### Table of Contents

- [Collecting Tweets](#Collecting-Tweets)
- [Cleaning](#Cleaning)

In [34]:
#libraries 
import pandas as pd
import numpy as np

import tweepy
import csv
import pandas as pd

### Collecting Tweets

In [ ]:
#Inputting the credentials here
consumer_key = "IsPui5aTOkDmBwSLNqFEyEPF7"
consumer_secret = "wJYNGl586NfOKmWFLqp9jAmPIV2tGOS8QDhDPWAe6faSTtTbDX"
access_token = "1105657843498258432-XNe0vJwzhx9poa0gJc86BMsl2e2Q0m"
access_secret = "85j8yuI7xoCc4Aqd5ICpYMwrAZ1dpO30EcdjPjHIC8sNJ"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

#Open/Creating a file to append data
csvFile = open('emergency', 'a')

#Using CSV writer
csvWriter = csv.writer(csvFile)
    
for tweet in tweepy.Cursor(api.search,q=relevant_words,count=100,
                           geocode="40.909,-73.8891,0.5mi",
                           lang="en",
                           since="2019-07-31").items():
    print (tweet.created_at, tweet.text)
    csvWriter.writerow([tweet.created_at, tweet.text.encode('utf-8')])

In [4]:
# Creating dataframe from CSV 
df = pd.read_csv('./emergency.csv')

In [5]:
# Review to see that all looks good
df.head()

,2019-07-30 16:48:21,b'RT @BloodAid: #Patna #Emergency Need 2 units O+ #blood @ AIIMS Hopital. Call 9931977137 #Bloodaid via @Gunjan9732 cc @B4Deo #BloodMatters'
0,2019-07-30 16:45:02,b'RT @BloodAid: #Hyderabad #Emergency Need A+ ...
1,2019-07-30 16:43:29,b'RT @HoxworthUC: #CRITICAL APPEAL: Due to mul...
2,2019-07-30 16:43:00,"b'RT @terapump_socal: No Leak, No Hassle and N..."
3,2019-07-30 16:42:56,b'RT @BloodAid: #Hyderabad #Emergency Need A+ ...
4,2019-07-30 16:42:19,b'RT @BloodAid: #Hyderabad #Emergency Need A+ ...

### Cleaning

The data has been pulled and the dataframe created, however, it's hard to read and the columns aren't labeled correctly. We will need to clean the data to make sure it can be read into the alert system.

In [6]:
#Columms are titled incorrectly so they are renamed below
new_columns_dict_act = {
    '2019-07-30 16:48:21': 'time',
    "b'RT @BloodAid: #Patna #Emergency Need 2 units O+ #blood @ AIIMS Hopital. Call 9931977137 #Bloodaid via @Gunjan9732 cc @B4Deo #BloodMatters'": 'text'
}

df.rename(columns=new_columns_dict_act, inplace=True)

In [7]:
#Reviewing dataframe to confirm it worked
df.head(20)

                   time                                               text
0   2019-07-30 16:45:02  b'RT @BloodAid: #Hyderabad #Emergency Need A+ ...
1   2019-07-30 16:43:29  b'RT @HoxworthUC: #CRITICAL APPEAL: Due to mul...
2   2019-07-30 16:43:00  b'RT @terapump_socal: No Leak, No Hassle and N...
3   2019-07-30 16:42:56  b'RT @BloodAid: #Hyderabad #Emergency Need A+ ...
4   2019-07-30 16:42:19  b'RT @BloodAid: #Hyderabad #Emergency Need A+ ...
5   2019-07-30 16:41:48  b"RT @sophiaxiomara: I really need #help. Plea...
6   2019-07-30 16:40:42  b'RT @JermarcusRobin2: #RESISTANCE #REDALERT #...
7   2019-07-30 16:38:48  b'RT @BloodAid: #Hyderabad #Emergency Need A+ ...
8   2019-07-30 16:36:14  b'Stay emergency prepared if at all possible. ...
9   2019-07-30 16:36:02  b'"Despite efforts to decrease hospital readmi...
10  2019-07-30 16:35:20  b'RT @USGSA: #TipTuesday - In an #emergency, G...
11  2019-07-30 16:34:20  b'RT @HoxworthUC: #CRITICAL APPEAL: Due to mul...
12  2019-07-30 16:33:01  b'Do you know who to call when you need help?\...
13  2019-07-30 16:31:55  b'RT @BloodAid: #Hyderabad #Emergency Need A+ ...
14  2019-07-30 16:29:57  b'I need to go to Pakistan, ASAP @MIAuniverse ...
15  2019-07-30 16:28:37  b'RT @BloodAid: #Hyderabad #Emergency Need A+ ...
16  2019-07-30 16:27:00  b"At Drain Doctor #Birmingham #Plumbing and Dr...
17  2019-07-30 16:23:48  b'Climate Change Is Impacting Every Aspect of ...
18  2019-07-30 16:21:00  b'#TipTuesday - In an #emergency, GSAAdvantage...
19  2019-07-30 16:20:40  b'RT @Vloneslay: I never thought id see myself...

In [15]:
#There looks to be a "b'" at the beginning of each tweet in the text column
# Code below to get rid of "b'"
df['text'] = df['text'].str[2:]
df.head()

                  time                                               text
0  2019-07-30 16:45:02  RT @BloodAid: #Hyderabad #Emergency Need A+ #b...
1  2019-07-30 16:43:29  RT @HoxworthUC: #CRITICAL APPEAL: Due to multi...
2  2019-07-30 16:43:00  RT @terapump_socal: No Leak, No Hassle and No ...
3  2019-07-30 16:42:56  RT @BloodAid: #Hyderabad #Emergency Need A+ #b...
4  2019-07-30 16:42:19  RT @BloodAid: #Hyderabad #Emergency Need A+ #b...

In [28]:
#Checking the dataframe objects
df.dtypes

time    object
text    object
dtype: object

In [31]:
#Change type to datetime for "time" if we want to use it for further time analysis
df['time'] = pd.to_datetime(df['time'])

df.dtypes

time    datetime64[ns]
text            object
dtype: object

In [35]:
#Assigning lat and lon within Greater New York Area to each tweet
#Twitter will pull data according to lat and lon but individual tweets don't have geo assigned

lat_coor = np.random.uniform(40.5372,40.9090, size = df.shape[0])
lon_coor = np.random.uniform(-74.2454, -73.7156, size = df.shape[0])
df['lat'] = lat_coor
df['lon'] = lon_coor

In [36]:
#Checking to see that it worked
df.head()

,time,text,lat,lon
0,2019-07-30 16:45:02,RT @BloodAid: #Hyderabad #Emergency Need A+ #b...,40.754305,-74.144927
1,2019-07-30 16:43:29,RT @HoxworthUC: #CRITICAL APPEAL: Due to multi...,40.856658,-74.101605
2,2019-07-30 16:43:00,"RT @terapump_socal: No Leak, No Hassle and No ...",40.625146,-73.771159
3,2019-07-30 16:42:56,RT @BloodAid: #Hyderabad #Emergency Need A+ #b...,40.871323,-73.766075
4,2019-07-30 16:42:19,RT @BloodAid: #Hyderabad #Emergency Need A+ #b...,40.619937,-73.992653

In [41]:
#Save dataset to be further evaluated now that we've gathered what we need
df.to_csv('emergency_tweet_final.csv')